body {
    background-color: white;
    text-align: center;
}

.button {
    font-family: 'JetBrains Mono';
    font-weight: bold;
    font-size: 50px;
    width: 200px;
    height: 100px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

.counter {
    color: black;
    font-family: 'JetBrains Mono';
    font-weight: bold;
    font-size: 50px;
}
.image {
    margin:0px auto;
}
.c-bob {
    background: transparent;
    color: #222;
    border-color: #4676d7;
}
